@font-face {
  font-family: 'Arial';
  src: url('./assets/fonts/ARIAL.TTF') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('./assets//fonts/Roboto.ttf') format('truetype');
}

@import "tailwindcss";

@theme {
  --font-arial: "Arial", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "roboto", sans-serif;
  --color-bg-accent: #E2D8FD;
  --color-bg-button: #602AF3;
  --color-bg-primary: #B79EFA;
  --color-bg-secondary: #F0F0F0;
  --color-bg-surface: #FFFFFF;
  --color-border-accent: #B79EFA;
  --color-border-secondary: #638292;
  --color-border-muted: #EAE9EC;
  --color-text-primary: #27262C;
  --color-text-secondary: #4F4B58;
  --color-text-tertiary: #A09CAB;
  --color-text-muted: #7A7A7A;
}