@font-face {
  font-family: arial;
  src: url('./assets//fonts/ARIAL.TTF') format('truetype');
}

@font-face {
  font-family: rubik;
  src: url('./assets//fonts/Rubik.ttf') format('truetype');
}

@import "tailwindcss";

@theme {
  --font-arial: arial, "sans-serif";
  --font-rubik: rubik, "sans-serif";
}

:root {
  --background2: #485aaa;
  --backgroundHover: #232b52;
  --backgroundLight: #dfe8f2;
  --backgroundAccent: #e5e5e5;
}